<input type="radio" [(ngModel)]="gender" value="male">Male
<input type="radio" [(ngModel)]="gender" value="female">Female
<input type="radio" [(ngModel)]="gender" value="others">Others

<h1>{{gender}}</h1>

<select [(ngModel)]="selectedTech">
    <option value="Nodejs">Nodejs</option>
    <option value="RxJS">RxJS</option>
    <option value="AngularJS">AngularJS</option>
    <option value="ReactJS">ReactJS</option>
    <option value="Angular">Angular</option>
</select>
{{selectedTech}}
<br>
<br>
<br>
<br>
<br>
<br>


<h1>Hi Angular</h1>
<h2>Its not that complex</h2>
<h3>We make it more intresting....!!!!</h3>
<input type="text" [(ngModel)]="title">
<h1>{{title}}</h1>
{{students}}




<ul>
    <li>{{students[0]}}</li>
    <li>{{students[1]}}</li>
    <li>{{students[2]}}</li>
    <li>{{students[3]}}</li>
</ul>
<ol>
    <li *ngFor="let s of students">
        {{s}}
    </li>
</ol>
<ul>
    <li>{{mydetails.firstname}}</li>
    <li>{{mydetails.lastname}}</li>
    <li>{{mydetails.age}}</li>
</ul>
<ol>
    <li *ngFor="let e of employees">
        <ul>
            <li>{{e.ename}}</li>
            <li>{{e.salary}}</li>
        </ul>
    </li>
</ol>
<!-- interpolation syntaxt: data binding -->