img{
    width:50px;
    border-radius: 100%;
    vertical-align: middle;
}
li{
    list-style: none;
}
.online{
    display: inline-block;
    width:20px;
    height:20px;
    border:1px solid;
    border-radius: 100%;
    padding:10px;
    background-color: green;
}
.offline{
    display: inline-block;
    width:20px;
    height:20px;
    border:1px solid;
    border-radius: 100%;
    padding:10px;
    background-color: grey;
}